<% include partials/header %>

<h1>You fell in love with: <%= thingVar %> </h1>

<% if(thingVar.toLowerCase() === "puppy"){ %>
<h2> Puppies are the best!!!</h2>
<% } else { %>
<h2> Why don't you like puppies!!!!</h2>
<% } %>

<p> PS This is the love.ejs file!</p>

<% include partials/footer %>